name: Demo Workflow

on: push

jobs:
  test-job:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Run echo command
        run: echo "Workflow is running successfully"
